{% extends 'layouts/default.j2' %}
{% from 'forms/macros.j2' import render_field, render_ip_and_mask_field_group, render_ddp_preset_selection, fill_org_form %}
{% block title %}Add IPv6 rule{% endblock %}
{% block content %}
    <h2>{{ title or 'New' }} IPv6 rule</h2>
    <form action="{{ action_url }}" method="POST" onsubmit="ExaFS.beforeIPFormSend(this, '{{ form.dest.id }}', '{{ form.next_header.id }}')" id="ipv6-form">
        {{ form.hidden_tag() if form.hidden_tag }}
        <div class="row">
            <div class="col-sm-12 col-md-6">
                {{ render_ip_and_mask_field_group(form.source, form.source_mask, ipKwargs={'placeholder': '2001:0db8:85a3::8a2e:0370:7334'},
                 maskKwargs={'min':'0', 'max':'128', 'placeholder': '48'}) }}
            </div>
            <div class="col-sm-12 col-md-6">
                {{ render_ip_and_mask_field_group(form.dest, form.dest_mask, ipKwargs={'placeholder': '2001:0db8:85a3::8a2e:0370:7334'},
                 maskKwargs={'min':'0', 'max':'128', 'placeholder': '48'}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                {{ render_field(form.source_port, tooltip="Possible values: x;>x;x-y;<x;<=x;>=x", placeholder="x; >x; x-y; <x; <=x; >=x") }}
            </div>
            <div class="col-sm-12 col-md-6">
                {{ render_field(form.dest_port, tooltip="Possible values: x;>x;x-y;<x;<=x;>=x", placeholder="x; >x; x-y; <x; <=x; >=x") }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                {{ render_field(form.next_header, id="protocol-select", onchange="ExaFS.hideFieldIfNot(this.value, 'tcp', 'tcpFlagContainer')") }}
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div id="tcpFlagContainer">
                    {{ render_field(form.flags, size=6) }}
                </div>
            </div>
                   <div class="col-md-4 col-sm-12">
                {{ render_field(form.packet_len, tooltip="Possible values: x;>x;x-y;<x;<=x;>=x", placeholder="x; >x; x-y; <x; <=x; >=x") }}
            </div>
        </div>

    <hr class="my-4">

        <div class="row">
            <div class="col-sm-6">
                {{ render_field(form.action, onchange="ExaFS.hideFieldIfNot(this.value, '4', 'ddp-form-wrapper')") }}
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputExpiration" class="control-label">Expiration date</label>
                    <div class='input-group date' id='dateTimeExpires'>
                        <!--
                        <input type='text' name="expires" class="form-control" />
                        -->
                        {{ form.expires(class_='form-control') }}
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>

                    {% if form.expires.errors %}
                        {% for e in form.expires.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{ render_field(form.comment) }}
            </div>
        </div>
        <div class="d-none" id="ddp-form-wrapper">
            {{ render_ddp_preset_selection(presets, form.data) }}
        </div>

        <div class="row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
     {{ fill_org_form(form.net_ranges) }}
{% endblock %}