{% extends 'layouts/default.j2' %}
{% from 'forms/macros.j2' import render_field, render_ip_and_mask_field_group, fill_org_form %}
{% block title %}Add RTBH rule{% endblock %}
{% block content %}
    <h2>{{ title or 'New' }} RTBH rule</h2>
    <form action="{{ action_url }}" method="POST">
        {{ form.hidden_tag() if form.hidden_tag }}
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12">
                        {{ render_ip_and_mask_field_group(form.ipv4, form.ipv4_mask,
                        ipKwargs={'placeholder': 'e.g. 192.160.0.1'},
                        maskKwargs={'min':'0', 'max':'32', 'placeholder': '24'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ render_ip_and_mask_field_group(form.ipv6, form.ipv6_mask,
                        ipKwargs={'placeholder': 'e.g. 2001:0db8:85a3::8a2e:0370:7334'},
                        maskKwargs={'min':'0', 'max':'128', 'placeholder': '48'}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    {{ render_field(form.community) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputExpiration" class="control-label">Expiration date</label>
                    <div class='input-group date' id='dateTimeExpires'>
                        <!--
                        <input type='text' name="expires" class="form-control" />
                        -->
                        {{ form.expires(class_='form-control') }}
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>

                    {% if form.expires.errors %}
                        {% for e in form.expires.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                    {{ render_field(form.comment) }}
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
    {{ fill_org_form(form.net_ranges) }}
{% endblock %}