{% extends 'layouts/default.j2' %}
{% from 'forms/macros.j2' import render_form %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div class="simple-form content">
        {{ render_form(form, action_url=action_url, action_text='Save') }}
    </div>
{% endblock content %}