Flask>=1.0.2
Flask-SQLAlchemy>=2.2
Flask-SSO>=0.4.0
Flask-WTF>=0.14.2
Flask-Migrate>=2.3.0
Flask-Script>=2.0.6
PyJWT>=1.6.4
PyMySQL>=0.9.3
pytest>=3.4.0
requests>=2.20.0
babel>=2.7.0
mysqlclient>=1.4.4
email_validator>=1.1