{% extends 'layouts/default.j2' %}
{% block title %}ExaFS - API KEY{% endblock %}
{% block content %}
    <h1>This is your API KEY</h1>
    <p>It is valid for 30 minutes.</p>
    <p>{{ apikey }}</p>
{% endblock %}