{% extends 'layouts/default.j2' %}
{% block title %}ExaFS - API KEY{% endblock %}
{% block content %}
    <h1>This is your API KEY</h1>
    <p>It is valid for 10 minutes.</p>
    <h2>{{ key }}</h2>
{% endblock %}