{% extends 'layouts/default.j2' %}
{% block title %}Flowspec{% endblock %}
{% block content %}


<div class="row">

    <div id="rules_table_container"></div>

    <script src="/static/react/react.production.min.js"></script>
    <script src="/static/react/react-dom.production.min.js"></script>

    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <!--
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    -->


    <script type="text/javascript">
        const TITLE = '{{ rstate | capitalize }}';
        const FILTER_START = '{{ filter_text }}';
        const RSTATE = '{{ rstate }}';
        const SORT_KEY = '{{ sort_key }}';

        const RULES = {{ rules_serialized | tojson }};
        const RTBH = {{ rtbh_serialized | tojson }};

    </script>

    <script type="text/javascript" src="/static/js/table.js" charset="utf-8"></script>


</div>

{% endblock %}