{% extends 'layouts/default.j2' %}
{% from 'macros.j2' import build_ip_tbody, build_rtbh_tbody, build_rules_thead %}


{% block title %}Flowspec{% endblock %}
{% block content %}

    {% include 'pages/submenu_dashboard_view.j2' %}

    {% if display_rules %}
    <h2>{{ rstate|capitalize }}  {{ table_title }}</h2>
        <p>You can see the rules for your information. However, you can not modify their expiration time or delete them.</p>
        <table class="table table-hover ip-table">
        {{ build_rules_thead(rules_columns, rtype, rstate, sort_key, sort_order, group_op=False) }}
        {{ dashboard_table_body }}

        </table>
    {% else %}
        <h2>There are no {{ rstate|capitalize }} {{ table_title }}.</h2>
    {% endif %}

{% endblock %}