<table class="table table-hover" id="ip-table">
<thead>
<tr class="table-sorter">
{% for sort_key, col_name in rules_columns %}
    <th>
        <a href="{{ url_for('index', rstate=rstate, sort=sort_key, order=sort_order) }}" >
        {{ col_name }}
        </a>
        <span class="sort-direction {{ sort_order }}"></span>
    </th>
{% endfor %}
    <th>Edit</th>
</tr>
</thead>
<tbody>

    {% for rule in rules %}
        <tr {% if rule.expires < today %} class="warning" {% endif %}>
            <td>
                {{ rule.source }}
                {{ '/' if rule.source_mask >= 0 else '' }}
                {{ rule.source_mask if rule.source_mask >= 0 else '' }}
            </td>
            <td>
                {{ rule.source_port }}
            </td>
            <td>
                {{ rule.dest }}
                {{ '/' if rule.dest_mask >= 0 else '' }}
                {{ rule.dest_mask if rule.dest_mask >= 0 else '' }}
            </td>
            <td>
                {{ rule.dest_port }}
            </td>
            <td>
                {% if key == 4 %}
                    {{ rule.protocol }}
                {% elif key == 6 %}
                    {{ rule.next_header }}
                {% endif %}
            </td>
            <td>
                {{ rule.expires }}
            </td>
            <td>
                {{ actions[rule.action_id].name }}
            </td>
            <td>
                {{ rule.flags}}
            </td>
            <td>
                {{ rule.user.name }}
            </td>
            <td>
            <a class="btn btn-primary btn-sm" href="{{ url_for('rules.reactivate_rule', rule_type=rtype_int, rule_id=rule.id) }}" role="button">
                 <span class="glyphicon glyphicon-time"></span>
            </a>
            <a class="btn btn-danger btn-sm" href="{{ url_for('rules.delete_rule', rule_type=rtype_int, rule_id=rule.id) }}" role="button">
                 <span class="glyphicon glyphicon-remove"></span>
            </a>
            {% if rule.comment %}
            <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="{{ rule.comment }}">
                <span class="glyphicon glyphicon-comment"></span>
            </button>
            {% endif %}
        </td>
        </tr>

    {% endfor %}


</tbody>
</table>
