{% extends 'layouts/default.j2' %}

{% block title %}Flowspec{% endblock %}
{% block content %}
  <div class="content">
    <h2>WHOIS for {{ ip_address }}</h2>

    <div class="row">
        <pre>{{ result }}</pre>        
    </div>
  </div>
{% endblock %}