{% extends 'layouts/default.j2' %}


{% block title %}Flowspec{% endblock %}
{% block content %}

    {% include 'pages/submenu_dashboard.j2' %}
    {% if display_rules %}
    <div class="row">
        <form action="{{ url_for('rules.group_operation') }}" method="post">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <table class="table table-hover ip-table">
            {{ dashboard_table_head }} 
            
            {{ dashboard_table_body }}
            
            {{ dashboard_table_foot }}
        </table>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/check_all.js') }}"></script>
    {% else %}
        <h2>There are no {{ rstate|capitalize }} {{ table_title }}.</h2>
    {% endif %}
{% endblock %}