{% extends 'layouts/default.j2' %}
{% block title %}Flowspec Users{% endblock %}
{% block content %}
    <h2>Commands log / latest on top</h2>
    {% if logs %}
    <table class="table table-hover">
    <tr>
    <th>time</th>
    <th>task</th>
    <th>rule_type</th>
    <th>rule_id</th>
    <th>author</th>
    </tr>
    {% for log in logs %}
        <tr>
        <td>{{ log.time|strftime }}</td>
        <td>{{ log.task }}</td>
        <td>{{ log.rule_type }}</td>
        <td>{{ log.rule_id }}</td>
        <td>{{ log.author }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <h3>No logs for last two days</h3>
    {% endif %}
{% endblock %}