{% extends 'layouts/default.html' %}
{% block title %}Flowspec Organziations{% endblock %}
{% block content %}
    <table class="table table-hover">
    <tr>
    <th>Name</th>
    <th>Limit for rules</th>
    <th>Adress Ranges</th>
    <th>action</th>
    </tr>
    {% for org in orgs %}
        <tr>
        <td>{{ org.name }}</td>
        <td>{{ "unlimited" if org.rule_limit == 0 else org.rule_limit }}</td>
        <td>
            {% set rows = org.arange.split() %}
            <ul class="list-group">
            {% for row in rows %}
                <li class="list-group-item">{{ row }}</li>
            {% endfor %}
            </ul>
        </td>
        <td>
        <a class="btn btn-info btn-sm" href="{{ url_for('admin.edit_organization', org_id=org.id) }}" role="button">
            <i class="bi bi-pen"></i>
        </a>
        <a class="btn btn-danger btn-sm" href="{{ url_for('admin.delete_organization', org_id=org.id) }}" role="button">
            <i class="bi bi-x-lg"></i>
        </a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}