{% extends 'layouts/default.j2' %}
{% block title %}Flowspec Organziations{% endblock %}
{% block content %}
    <table class="table table-hover">
    <tr>
    <th>Name</th>
    <th>Adress Range</th>
    <th>action</th>
    </tr>
    {% for org in orgs %}
        <tr>
        <td>{{ org.name }}</td>
        <td>
            {% set rows = org.arange.split() %}
            {{ rows|join("<br>") }}
        </td>
        <td>
        <a class="btn btn-info btn-sm" href="{{ url_for('admin.edit_organization', org_id=org.id) }}" role="button">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a class="btn btn-danger btn-sm" href="{{ url_for('admin.delete_organization', org_id=org.id) }}" role="button">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}