{% extends 'layouts/default.j2' %}
{% block title %}Flowspec{% endblock %}
{% block content %}
    <h1>Work in progress...</h1>
    <h2>Server time: {{ time }}</h2>

    <h2>user: {{ email }}, role: {{ session[config.USER_ROLE] }}, organization: {{ session[config.USER_ORG] }}</h2>
{% endblock %}