{% extends 'layouts/default.j2' %}
{% block title %}Flowspec{% endblock %}
{% block content %}
    <h1>Work in progress...</h1>
    <h2>Server time: {{ time }}</h2>

    <h2>{{ info }}</h2>
{% endblock %}