body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}


tr.bottom_row > td {
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}

tr.bottom_row > th {
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}


td.bottom_row {
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}


.ip-table thead {
    background-color: #adadad;
    cursor: pointer;
}

#dashboard-nav .nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 130%;
}

#dashboard-nav a.active {
    background-color: #1b67ad;
    color: white;
}

#dashboard-nav h1 {
    font-size: 130%;
    font-weight: bold;
    margin-top: 10px;
}


.sort-direction {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.asc {
    border-bottom: 5px solid black;
}

.desc {
    border-top: 5px solid black;
}

.table-sorter a {
    color: #0a0a0a;
}

.table-sorter a:visited {
    color: #0a0a0a;
}

