body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


tr.bottom_row > td {
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}

tr.bottom_row > th {
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}


td.bottom_row {
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}

