<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EXAFS tool for EXABGP messages">
    <meta name="author" content="CESNET / Jiri Vrany, Petr Adamec, Josef Verich">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap"
          rel="stylesheet">
    <!-- Minified styles -->
    <link href="/static/style.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">{{ config['APP_NAME'] }} /
            ExaFS_{{ session['app_version'] }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if session['can_edit'] %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{{ url_for('rules.ipv4_rule') }}">Add IPv4</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{{ url_for('rules.ipv6_rule') }}">Add IPv6</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{{ url_for('rules.rtbh_rule') }}">Add RTBH</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('api_keys.all') }}">API
                        Key</a></li>
                {% endif %}
                {% if 3 in session['user_role_ids'] %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('admin.log') }}">Commands
                                Log</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ url_for('admin.users') }}">Users</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.user') }}">Add
                                User</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ url_for('admin.organizations') }}">Organizations</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.organization') }}">Add
                                Org.</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.actions') }}">Action</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.action') }}">Add
                                action</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.communities') }}">RTBH
                                Communities</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.community') }}">Add
                                RTBH Comm.</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
                {{ session['user_name'] }} &lt;{{ session['user_email'] }}&gt;,
                role: {{ session['user_roles']|join(", ") }}, org: {{ session['user_orgs'] }}</span>
        </div>

    </div>
</nav>
<div class="container theme-showcase" role="main">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}" role="alert">
                    <a class="close" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="whois"><i class="fa fa-eye"></i>WHOIS</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="copy"><i class="fa fa-copy"></i>Copy</a>
        </li>
    </ul>
</nav>
<script type="text/javascript" src="/static/js/exafs-bundle.js"></script>
<script type="text/javascript" src="/static/js/ip_context.js"></script>
</body>
</html>
