{% extends 'layouts/default.j2' %}
{% block content %}
    <div class="text-center">
        <h1>Error ...</h1>
        <p>Sorry ;-)</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('index') }}"><i class="bi bi-caret-left-fill me-1"></i>Go
            back</a></p>
    </div>

{% endblock %}