{% extends 'layouts/default.j2' %}
{% block content %}
  <div class="content border border-4 border-danger text-center">
    <p class="fs-1">&#128547;</p>
    <h1>There was an error on our side</h1>
    <p>Sorry... Please try again later.</p>
    <p class="form-text">500 Internal Server Error</p>
    <p><a href="{{ url_for('index') }}" class="btn btn-link">Go back</a></p>
  </div>
{% endblock %}
