@import "colors";
@import "variables";

body {
  background-color: $color-body-bg;
  color: $color-text;
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-showcase {
  padding: 20px;
  border-radius: 20px;
  background-color: $color-item-bg;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.ddp-preset-detail-container {
  padding-left: 20px;
  border-left: 5px solid #ddd;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

tr.bottom_row > td,
tr.bottom_row > th,
td.bottom_row {
  border-bottom: solid black 1px;
  padding-bottom: 1em;
}

.ip-table thead {
  background-color: #adadad;
  cursor: pointer;
}

.sort-direction {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.asc {
  border-bottom: 5px solid black;
}

.desc {
  border-top: 5px solid black;
}

.table-sorter a {
  color: #0a0a0a;
  text-decoration: none;

  &:visited {
    color: #0a0a0a;
  }
}

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  justify-content: space-between;
}

.task:last-child {
  border-bottom: none;
}

#dashboard-search {
  margin-top: 10px;
}

#dashboard-nav h1 {
  font-size: 130%;
  font-weight: bold;
  margin-top: 10px;
}

#dashboard-nav .nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  font-size: 130%;
}

#dashboard-nav a.active {
  background-color: #1b67ad;
  color: white;
}

