[Unit]
Description=ExaBGP restart guardian
After=exabgp.service
Requires=exabgp.service
PartOf=exabgp.service
ConditionPathExists=/home/deploy/www/guarda/guarda.py

[Service]
Type=simple
ExecStart=/home/deploy/guarda/guarda.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=exabgp.service
